html {
    height: 100%;
    background-color: rgb(0, 0, 226);
    }
body {
   width: 100%;
   
 
}

.container > *{
    box-shadow: -1px 1px 7px 0px black;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.container{
    display: grid;
    gap: 10px;
    grid-template: 
    "encabezado" 100px
    "navegacion" 180px
    "articulo" auto
    "pie" 100px; 
}
.encabezado{
    grid-area: encabezado;   
    background-color: rgb(0, 0, 0);
}
.encabezado> h1{
color: white;
}

.navegacion{
    grid-area: navegacion;
    background-color: rgb(53, 204, 40);
}
.articulo{
   grid-area: articulo;
   background-color: rgb(0, 83, 238);
}
.pie{
    grid-area: pie;
    background-color: black
}
@media (min-width:600px){
    .container{
        grid-template:
        "encabezado encabezado encabezado" 100px
        "navegacion articulo   articulo  " auto
        "pie        pie        pie       " 50px / 
         150px      auto           150px;
    }
    }
    
@media (min-width:900px){
.container{
    grid-template:
    "encabezado encabezado encabezado" 100px
    "navegacion articulo   articulo  " auto
    "pie        pie        pie       "100px / 
    200px       auto           200px;
}
}
.header >.logo{
    background-color: black;
}

.circulo{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100%;
    }
    .circulo > .foto_1{
    width: 100%;
    height: 100%;
    border-radius: 100%;

    }
h2{
    float: left;
}
.informacion{
    text-align: left;
    color: white;
    text-decoration: underline;
    
}
.acerca_de_mi {
    color: azure;
    margin-left: 15ex;
    margin-right: 15ex;
    text-align: justify;
    font-style:oblique;
    background-color: rgba(0, 159, 199, 0.473);
    border-width: 6px;
    border-style: solid;
    border-color: black;
}
.acerca_de_mi > .descripcion{
    margin-top: 3ex;
    }
.Formacion_academica{
margin-top: 10ex;
background-color: rgba(0, 159, 199, 0.473);
border-width: 6px;
border-style: solid;
border-color: black ;
}
.card{
    width: 25rem;
    float: left;
    margin-top: 5ex;
    margin-bottom: 10ex;
    background-color: white;
    border-width: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: black; 
}
.ha> .intereses {
margin-top: 3ex;
background-color: rgb(0,159, 199, 0.473);
border-width: 2px;
border-style: solid;
border-color: black;
}
.ha> .habilidades {
    margin-top: 3ex;
    margin-left: 3ex;
    margin-right: 3ex;
    margin-bottom: 3ex;
    background-color: rgb(0,158, 199, 0.473);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    }
.logros{
    margin-top: 20px;
}
.logros >.card1{
    width: 20rem;
    background-color: rgb(184, 200, 206);
    border-width: 2px;
    border-style: solid;
    border-color: black;

}
.navegacion > li{
 text-decoration: none;
}
.pie >p{
    color: white;    
}
*>h3 {
    color: white;
}
h1{
    color: white;   
}